<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>melon-admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewAthorizationManageServlet</display-name>
    <servlet-name>ViewAthorizationManageServlet</servlet-name>
    <servlet-class>com.melon.admin.authorization.web.ViewAthorizationManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAthorizationManageServlet</servlet-name>
    <url-pattern>/authorization/manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllAuthorizationServlet</display-name>
    <servlet-name>ViewAllAuthorizationServlet</servlet-name>
    <servlet-class>com.melon.admin.authorization.web.ViewAllAuthorizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAuthorizationServlet</servlet-name>
    <url-pattern>/authorization/all</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFillter</filter-name>
    <filter-class>com.melon.admin.common.web.CharacterEncodingFillter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFillter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoAuthorizationActionServlet</display-name>
    <servlet-name>DoAuthorizationActionServlet</servlet-name>
    <servlet-class>com.melon.admin.authorization.web.DoAuthorizationActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAuthorizationActionServlet</servlet-name>
    <url-pattern>/authorization/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDeleteServlet</display-name>
    <servlet-name>ViewDeleteServlet</servlet-name>
    <servlet-class>com.melon.admin.authorization.web.ViewDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDeleteServlet</servlet-name>
    <url-pattern>/authorization/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyServlet</display-name>
    <servlet-name>ViewModifyServlet</servlet-name>
    <servlet-class>com.melon.admin.authorization.web.ViewModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyServlet</servlet-name>
    <url-pattern>/authorization/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAndDoUserListServlet</display-name>
    <servlet-name>ViewAndDoUserListServlet</servlet-name>
    <servlet-class>com.melon.admin.user.web.ViewAndDoUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAndDoUserListServlet</servlet-name>
    <url-pattern>/user/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAndDoUserDetailServlet</display-name>
    <servlet-name>ViewAndDoUserDetailServlet</servlet-name>
    <servlet-class>com.melon.admin.user.web.ViewAndDoUserDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAndDoUserDetailServlet</servlet-name>
    <url-pattern>/user/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUserModifyActionServlet</display-name>
    <servlet-name>DoUserModifyActionServlet</servlet-name>
    <servlet-class>com.melon.admin.user.web.DoUserModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUserModifyActionServlet</servlet-name>
    <url-pattern>/user/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSelectAuthorizationChangeServlet</display-name>
    <servlet-name>DoSelectAuthorizationChangeServlet</servlet-name>
    <servlet-class>com.melon.admin.user.web.DoSelectAuthorizationChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSelectAuthorizationChangeServlet</servlet-name>
    <url-pattern>/authorization/change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMusicServlet</display-name>
    <servlet-name>ViewMusicServlet</servlet-name>
    <servlet-class>com.melon.admin.music.web.ViewMusicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMusicServlet</servlet-name>
    <url-pattern>/user/rank</url-pattern>
  </servlet-mapping>
</web-app>