<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookstore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.ktds.khw.web.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteServlet</display-name>
    <servlet-name>WriteServlet</servlet-name>
    <servlet-class>com.ktds.khw.web.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteActionServlet</display-name>
    <servlet-name>DoWriteActionServlet</servlet-name>
    <servlet-class>com.ktds.khw.web.DoWriteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteActionServlet</servlet-name>
    <url-pattern>/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteActionServlet</display-name>
    <servlet-name>DoDeleteActionServlet</servlet-name>
    <servlet-class>com.ktds.khw.web.DoDeleteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteActionServlet</servlet-name>
    <url-pattern>/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDeleteServlet</display-name>
    <servlet-name>ViewDeleteServlet</servlet-name>
    <servlet-class>com.ktds.khw.web.ViewDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ktds.khw.common.web.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateServlet</display-name>
    <servlet-name>ViewUpdateServlet</servlet-name>
    <servlet-class>com.ktds.khw.web.ViewUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateActionServlet</display-name>
    <servlet-name>DoUpdateActionServlet</servlet-name>
    <servlet-class>com.ktds.khw.web.DoUpdateActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateActionServlet</servlet-name>
    <url-pattern>/doUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPrintUpdateServlet</display-name>
    <servlet-name>ViewPrintUpdateServlet</servlet-name>
    <servlet-class>com.ktds.khw.web.ViewPrintUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPrintUpdateServlet</servlet-name>
    <url-pattern>/updatePrint</url-pattern>
  </servlet-mapping>
</web-app>